<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="WebChat" suffix=" · Phoenix Framework">
      {assigns[:page_title]}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white">
  <h1>Chat Group</h1>
  <div class="chat-container">
  <div class="chat-header">Group Chat</div>
  <div class="chat-messages" id="message-box">
    <div class="message message-in">
      <div class="bubble">Hello!</div>
    </div>
    <div class="message message-out">
      <div class="bubble">Hi there 😄</div>
    </div>
  </div>
  <form id="input-form">
    <div class="name-input">
      <input  id="username" type="text" placeholder="Type name..." />
    </div>
    <div class="chat-input">
      <input id="user-message" type="text" placeholder="Type a message..." />
      <button type="submit" id="sendButton" disabled>Send</button>
    </div>
  </form>
</div>
  <h1>Hello World</h1>
  </body>
</html>
